obj/УРОК 1.csproj.nuget.dgspec.json
obj/УРОК 1.csproj.nuget.g.props
obj/УРОК 1.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/УРОК 1.AssemblyInfo.cs
obj/Debug/net6.0/УРОК 1.AssemblyInfoInputs.cache
obj/Debug/net6.0/УРОК 1.assets.cache
obj/Debug/net6.0/УРОК 1.csproj.AssemblyReference.cache
obj/Debug/net6.0/УРОК 1.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/УРОК 1.csproj.FileListAbsolute.txt
obj/Debug/net6.0/УРОК 1.dll
obj/Debug/net6.0/УРОК 1.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/УРОК 1.genruntimeconfig.cache
obj/Debug/net6.0/УРОК 1.GlobalUsings.g.cs
obj/Debug/net6.0/УРОК 1.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ref/УРОК 1.dll
obj/Debug/net6.0/refint/УРОК 1.dll
bin/Debug/net6.0/УРОК 1.deps.json
bin/Debug/net6.0/УРОК 1.dll
bin/Debug/net6.0/УРОК 1.exe
bin/Debug/net6.0/УРОК 1.pdb
bin/Debug/net6.0/УРОК 1.runtimeconfig.json
